# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


2020.3.15f2_main/Library
2020.3.15f2_main/Logs
2020.3.15f2_main/Temp
2020.3.15f2_main/UserSettings
2020.3.15f2_main/Assets/Arts/KajiyaKayHair
2020.3.15f2_main/Assets/Arts/MatrixTransform
2020.3.15f2_main/Assets/Arts/Primrose
2020.3.15f2_main/Assets/Arts/ShowSky
2020.3.15f2_main/Assets/Arts/Terrain
2020.3.15f2_main/Assets/Comoon/CubeMap


