# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.


2020.3.15f2_main/Library
2020.3.15f2_main/Logs
2020.3.15f2_main/Temps
2020.3.15f2_main/UserSettings



2020.3.15f2_main/Temp
2020.3.15f2_main/.vscode/settings.json
2020.3.15f2_main/2020.3.15f2_main.sln
2020.3.15f2_main/AmplifyShaderEditor.csproj
2020.3.15f2_main/Assembly-CSharp-Editor.csproj
2020.3.15f2_main/Assembly-CSharp.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Core.Editor.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Core.Runtime.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/2020.3.15f2_main/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Universal.Editor.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Universal.Runtime.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Universal.Shaders.csproj
/2020.3.15f2_main/Unity.Rider.Editor.csproj
/2020.3.15f2_main/Unity.Searcher.Editor.csproj
/2020.3.15f2_main/Unity.ShaderGraph.Editor.csproj
/2020.3.15f2_main/Unity.ShaderGraph.Utilities.csproj
/2020.3.15f2_main/Unity.TextMeshPro.csproj
/2020.3.15f2_main/Unity.TextMeshPro.Editor.csproj
/2020.3.15f2_main/Unity.Timeline.csproj
/2020.3.15f2_main/Unity.Timeline.Editor.csproj
/2020.3.15f2_main/Unity.VisualStudio.Editor.csproj
/2020.3.15f2_main/Unity.VSCode.Editor.csproj
/2020.3.15f2_main/UnityEditor.TestRunner.csproj
/2020.3.15f2_main/UnityEditor.UI.csproj
/2020.3.15f2_main/UnityEngine.TestRunner.csproj
/2020.3.15f2_main/UnityEngine.UI.csproj
/2020.3.15f2_main/2020.3.15f2_main.sln
/2020.3.15f2_main/AmplifyShaderEditor.csproj
/2020.3.15f2_main/Assembly-CSharp.csproj
/2020.3.15f2_main/Assembly-CSharp-Editor.csproj
/2020.3.15f2_main/GPUInstancer.csproj
/2020.3.15f2_main/GPUInstancer.Editor.csproj
/2020.3.15f2_main/Unity.CollabProxy.Editor.csproj
/2020.3.15f2_main/Unity.Mathematics.csproj
/2020.3.15f2_main/Unity.Mathematics.Editor.csproj
/2020.3.15f2_main/Unity.PlasticSCM.Editor.csproj
/2020.3.15f2_main/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/2020.3.15f2_main/Unity.Rider.Editor.csproj
/2020.3.15f2_main/Unity.Searcher.Editor.csproj
/2020.3.15f2_main/Unity.ShaderGraph.Editor.csproj
/2020.3.15f2_main/Unity.ShaderGraph.Utilities.csproj
/2020.3.15f2_main/Unity.TextMeshPro.csproj
/2020.3.15f2_main/Unity.TextMeshPro.Editor.csproj
/2020.3.15f2_main/Unity.Timeline.csproj
/2020.3.15f2_main/Unity.Timeline.Editor.csproj
/2020.3.15f2_main/Unity.VisualStudio.Editor.csproj
/2020.3.15f2_main/Unity.VSCode.Editor.csproj
/2020.3.15f2_main/UnityEditor.TestRunner.csproj
/2020.3.15f2_main/UnityEditor.UI.csproj
/2020.3.15f2_main/UnityEngine.TestRunner.csproj
/2020.3.15f2_main/UnityEngine.UI.csproj
/2020.3.15f2_main/2020.3.15f2_main.sln
/2020.3.15f2_main/AmplifyShaderEditor.csproj
/2020.3.15f2_main/Assembly-CSharp.csproj
/2020.3.15f2_main/Assembly-CSharp-Editor.csproj
/2020.3.15f2_main/GPUInstancer.csproj
/2020.3.15f2_main/GPUInstancer.Editor.csproj
/2020.3.15f2_main/Unity.CollabProxy.Editor.csproj
/2020.3.15f2_main/Unity.Mathematics.csproj
/2020.3.15f2_main/Unity.Mathematics.Editor.csproj
/2020.3.15f2_main/Unity.PlasticSCM.Editor.csproj
/2020.3.15f2_main/Unity.RenderPipeline.Universal.ShaderLibrary.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Core.Editor.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Core.Runtime.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/2020.3.15f2_main/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Universal.Editor.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Universal.Runtime.csproj
/2020.3.15f2_main/Unity.RenderPipelines.Universal.Shaders.csproj
