# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
myMain2020.3.15/Assembly-CSharp-Editor.csproj


myMain2020.3.15/Library
myMain2020.3.15/Temp
myMain2020.3.15/Logs
myMain2020.3.15/UserSettings
myMain2020.3.15/obj
myMain2020.3.15/myMain2020.3.15.sln
myMain2020.3.15/.vscode/settings.json
myMain2020.3.15/Assembly-CSharp.csproj
myMain2020.3.15/Assets/3rd/AmplifyShaderEditor
myMain2020.3.15/Assets/_TerrainAutoUpgrade
myMain2020.3.15/Assets/AmplifyShaderEditor
myMain2020.3.15/Assets/AmplifyShaderEditor.meta
myMain2020.3.15/Assets/_TerrainAutoUpgrade.meta
myMain2020.3.15/Assets/3rd/AmplifyShaderEditor.meta
myMain2020.3.15/AmplifyShaderEditor.Samples.BuiltIn.csproj
myMain2020.3.15/AmplifyShaderEditor.csproj
